@import './scss/scss.scss';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// HEADER COMPONENT

.header {
    max-height: 100px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: white;
    font-size: 1.2rem;
    padding: 20px;
    font-family: $links;

    @include media-query($small) {
        max-height: 50px;
    }
}

.logo-img {
    height: 100px;
    padding: 10px;

    @include media-query($small) {
        display: none;
    }
}

button {
    margin-top: 20px;
    font-size: 18px;
    color: $austin-grey;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;

    @include media-query($small) {
        display: none;
    }
}


button:focus,
button:hover {
    color: #888888;
}

button:focus:after,
button:hover:after {
    width: 100%;
    left: 0%;
}

button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #888888;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}



.active {
    color: white !important;
}

// LANDING PAGE 

.top-container {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
}

.img-div {
    background-color: rgb(0, 0, 0, 0.8);
}

.david-guetta-img {
    height: 100%;
    z-index: 1;
    width: 100%;
    object-fit: cover;
    opacity: 0.4;

}

.span-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    position: absolute;
    top: 25%;
    z-index: 2;
}

.mix1-span {
    color: white;
    z-index: 2;
    font-family: $regular;
    margin: 0 auto;
    font-size: 4rem;
    text-shadow: 2px 2px rgb(0, 0, 0, 0.5);

    @include media-query($small) {
        font-size: 2.5rem;

    }
}

.p-div {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    @include media-query($small) {
        top: 65%;
        width: 100%;

    }

}

p {
    color: white;
    z-index: 2;
    font-family: $regular;
    margin: 0 auto;
    font-size: 2rem;
    text-shadow: 2px 2px rgb(0, 0, 0, 0.5);

    @include media-query($small) {
        font-size: 1rem;
    }
}
.lower-container {
   
    padding: 50px;
}

.services-h1 {
    font-size: 3rem;
    font-family: $regular;
    margin: 0 auto;
    width: 50%;
    line-height: 5rem;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}


.services-inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 30%;
    gap: 15px;
}

.services-txt-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 75%;
    padding: 25px;

}

.services-name {
    color: black;
    font-size: 2rem;
    font-family: $regular;
    margin: 25px 0px;
}

.services-txt {
    color: black;
    font-family: $regular;
    font-size: 0.85rem !important;
}

.services-img {
    height: 250px;
    width: 500px;
    cursor: pointer;
}

.services-img:hover {
    transform: scale(1.1);
    transition: transform .5s ease;
}